/* Bordered form */
form {
  border: 1px transparent; 
  background-color: rgb(240,242,245); 
  
}

/* Input width */
input[type="email"],
input[type="password"] {
  width: 30%;
  padding: 12px 25px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #e326fc;
  color: white;
  padding: 14px 20px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  width: 25%;
  align-content: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 60%;
}

/* curve for login button */

.logbut {
  border-radius: 50px;
}

/* create account button */

.acc {
  display: block;
    background-color: rgb(66,183,42);
    text-align: center;
    margin: auto;
    border-radius: 50px;
    width: 20%;
    position: relative;
    left: 10px;
    top: 10px;


}



/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  height: 300px;
  margin: -75px 0 -10px 0;
  overflow: hidden;
  position: relative;
  top: -40px;
}

/* Avatar image */
img.avatar {
  width: 30%;
  border-radius: 10%;
  color: #ffff;
}

/* Add padding to containers */
.container {
  padding: 50px;
  
}

/* The "Forgot password" text */
span.psw {
  color: rgb(24,119,244);
  text-align: end;
  text-decoration:none!important;
}

.round {
  border-radius: 8px;
}

#a1{
  width: 50%;
  padding: 10px;
  border: 2px solid gray;
  

}

/* aling login box to center */

.container {
  display:block;
  text-align: center;
  border-radius: 100px;
  border: black;
  margin: auto;
}

.foot{
  position: relative;
  top: 160px;
  position: end;
}